before_script:
    - echo Procesando CI registry.exa.unicen.edu.ar/intia/ocular-vet:${CI_COMMIT_REF_NAME}

variables:
  DOCKER_DRIVER: overlay2
  CACHE_IMAGE: registry.exa.unicen.edu.ar/intia/ocular-vet:${CI_COMMIT_REF_NAME}
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

stages:
    - angularBuild
    - deployment

frontend:
    stage: angularBuild
    cache:
        paths:
            - .npm/
        key: "npm:$CI_BUILD_REF_NAME"
    image: docker:latest
    script:
        - docker build -t registry.exa.unicen.edu.ar/intia/ocular-vet:${CI_COMMIT_REF_NAME} -f Dockerfile .
    after_script:
        - docker push registry.exa.unicen.edu.ar/intia/ocular-vet:${CI_COMMIT_REF_NAME}
    only:
        - main
        - prod


deploy:
    image: docker:latest
    stage: deployment
    script:
        # de-mgp_develop_frontend
        - echo restarting
        #- wget -q --post-data "action=web" "https://portainer.exa.unicen.edu.ar/api/webhooks/$HOOK_WEB_MAIN" -O /dev/null
    only:
        - main
        - prod