version: "3.7"

x-default-opts: 
  &default-opts
  logging:
      options:
          max-size: "1m" 
  deploy:
      mode: replicated
      replicas: 1
      restart_policy:
          condition: any
          max_attempts: 3
          window: 120s
services:
  web: 
    container_name: ocular-vet
    image: registry.exa.unicen.edu.ar/intia/ocular-vet:prod
    #command: tail -f /dev/null
    depends_on: 
      - mongo
    environment:
      VIRTUAL_HOST: "http://ocular-vet.exa.unicen.edu.ar,
                     https://ocular-vet.exa.unicen.edu.ar"
      SERVICE_PORTS: "3000"
      FORCE_SSL: "true"
      BD_CNN: ${BD_CNN}
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      SECRET_JWT_SEED: ${SECRET_JWT_SEED}
    healthcheck:
      test: curl -f -s -o /dev/null http://localhost:${PORT} || exit 1
      interval: 60s
      timeout: 3s
    <<: *default-opts
    networks:
      - net
      - reverse_proxy
  mongo:
    container_name: mymongodatabase
    image: mongo:5.0.14
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_INITDB_ROOT_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_INITDB_ROOT_PASSWORD
      MONGO_INITDB_USERNAME: $APP_USER
      MONGO_INITDB_PASSWORD: $APP_PWD
      MONGO_INITDB_DATABASE: $DB_NAME
    configs:
      - source: mongo-init
        target: /docker-entrypoint-initdb.d/mongo-init.js
        uid: '999'
        gid: '999'
        mode: 0644
    volumes:
      - mongodb:/data/db
      - data:/home/mongodb
    <<: *default-opts
    networks:
      - net
  backup:
    image: mongo:5.0.14
    container_name: backupOcularVetDB
    # command: tail -f /dev/null
    command: bash -c "mongodump --authenticationDatabase=${DB_NAME} --uri mongodb://${APP_USER}:${APP_PWD}@mongo:27017/?authSource=${DB_NAME} --archive=/backup/backup-OcularVetDB-$$((($$(date +%e)-1)/7+1)).dump"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - backup:/backup
    environment:
      TZ: America/Argentina/Buenos_Aires
    deploy:
       mode: replicated
       replicas: 0
       restart_policy:
          condition: none
    networks:
      - net

networks:
  net:
  reverse_proxy:
    external: true
volumes:
    mongodb:
      driver: glusterfs_rpi
      driver_opts:
        servers: "10.1.253.150,10.1.253.151,10.1.253.152,10.1.253.147"
      name: "apps/ocular-vet/db"
    data:
      driver: glusterfs_rpi
      driver_opts:
        servers: "10.1.253.150,10.1.253.151,10.1.253.152,10.1.253.147"
      name: "apps/ocular-vet/data"
    backup:
      driver: local
      driver_opts:
        type: nfs
        o: addr=10.1.253.50,rw,intr,hard,timeo=600,wsize=32768,rsize=32768,vers=4,tcp
        device: ":/backup/stacks/ocular-vet"
configs:
  # db/mongo-init.js
  mongo-init:
    external: true
    name: ocular-vet_mongo-init
